@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

.navbar-brand {
  color: yellowgreen;
  font-size: 60px;
  font-family: "Bebas Neue", cursive; }

#navbarNav {
  justify-content: end; }

.nav-link {
  font-size: 40px; }

@media screen and (min-width: 500px) {
  .item_nav:hover {
    transform: scale(1.2, 1.1); }
  .navbar-brand {
    padding-left: 10%; }
  .navbar-collapse {
    padding-right: 10%; } }

/* FOOTER MOBILE*/
.footer {
  background-color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center; }
  .footer .section_redes {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-left: 0px; }
    .footer .section_redes .lista_footer {
      width: 70%;
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      font-size: 15px;
      text-align: center;
      padding-left: 0px;
      color: yellowgreen; }
  .footer .parrafo_footer {
    color: yellowgreen;
    font-size: 15px;
    font-family: 'Bebas Neue'; }
  .footer .section_contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: yellowgreen;
    font-family: 'Bebas Neue';
    font-weight: lighter;
    text-align: center; }
    .footer .section_contacto .p_contacto {
      margin-bottom: 0px; }

@media screen and (min-width: 500px) {
  /*FOOTER PC*/
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .footer .section_redes {
      width: 70%;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 10%; }
      .footer .section_redes .titulo_footer {
        padding-top: 1%;
        padding-left: 5%; }
        .footer .section_redes .titulo_footer .parrafo_footer {
          font-size: 20px;
          margin-bottom: 0px;
          align-self: center; }
    .footer .lista_footer {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      list-style-type: none;
      font-size: 20px;
      margin-bottom: 0px;
      align-self: center; }
      .footer .lista_footer .lista_foot:hover {
        transform: scale(1.1, 1.1); }
      .footer .lista_footer .bi_footer {
        font-size: 30px; }
    .footer .section_contacto {
      font-weight: lighter;
      text-align: right;
      padding-right: 10%; }
      .footer .section_contacto .p_contacto {
        font-size: 20px; } }

/*CONTACTO*/
.div_formulario {
  width: 60%;
  align-self: center; }
  .div_formulario .fil_contacto {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-weight: bold;
    text-align: center; }
    .div_formulario .fil_contacto .leg_contacto {
      font-family: 'The Nautigal', cursive;
      font-size: 30px; }
    .div_formulario .fil_contacto .cont_seldni {
      width: 90%;
      align-self: center; }
    .div_formulario .fil_contacto .in_form {
      font-family: 'Roboto';
      align-self: center; }
    .div_formulario .fil_contacto .boton_form {
      width: 60%;
      font-family: 'Roboto';
      font-size: 15px;
      font-weight: light;
      margin-top: 7px;
      margin-bottom: 7px;
      align-self: center; }
    .div_formulario .fil_contacto .boton_formf {
      align-self: center; }

@media screen and (min-width: 500px) {
  .div_formulario {
    grid-area: c1;
    padding-bottom: 20px; }
    .div_formulario .fil_contacto {
      width: 100%;
      border-width: 10px; }
      .div_formulario .fil_contacto .leg_contacto {
        font-size: 50px; }
      .div_formulario .fil_contacto .cont_label {
        padding-top: 2px;
        padding-bottom: 2px; }
      .div_formulario .fil_contacto .cont_seldni {
        width: 100%; }
      .div_formulario .fil_contacto .in_form {
        width: 100%; }
      .div_formulario .fil_contacto .boton_form:hover {
        transform: scale(1.1, 1.1); }
      .div_formulario .fil_contacto .boton_formf:hover {
        transform: scale(1, 1); }
      .div_formulario .fil_contacto .check_label {
        padding-top: 7px;
        padding-bottom: 7px; }
      .div_formulario .fil_contacto .in_checkbox {
        margin-bottom: 10px; } }

/*INDEX*/
.titulo_index {
  font-size: 80px;
  padding-top: 30px; }

.titulo_ind {
  font-size: 60px;
  padding-bottom: 30px; }

.titulo2_index {
  color: white;
  font-size: 50px;
  font-family: "Bebas Neue", cursive;
  line-height: 2;
  text-align: center; }

.titulo_redes {
  color: black;
  background-color: #bcfc3d;
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 0px; }

@media screen and (min-width: 500px) {
  .titulo_index {
    font-size: 120px; }
  .titulo2_index {
    font-size: 70px; }
  .titulo_redes {
    font-size: 60px; } }

/*GALERIA*/
.titulo_galeria {
  background-image: url(../img/titulogaleria1.png);
  background-repeat: repeat;
  width: 100%;
  height: 100px; }
  .titulo_galeria .titulo1_galeria {
    font-size: 80px; }

.titulos_gal {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px; }
  .titulos_gal .titulo2_galeria {
    color: #bcfc3d;
    font-size: 60px;
    text-align: center;
    font-family: 'The Nautigal', cursive;
    font-weight: bold;
    background-color: brown; }

/*SERVICIOS*/
.titulo_servicios {
  background-image: url(../img/tituloservicios1.png);
  background-repeat: repeat; }
  .titulo_servicios .titulo1_servicios {
    font-size: 80px;
    margin-bottom: 0px;
    padding-top: 10px; }

/*TORNEOS*/
.titulo_torneos {
  font-size: 40px;
  background-image: url(../img/titulotorneos.png);
  background-position: center;
  margin-bottom: 10px; }

.titulo1_torneos {
  font-size: 30px; }

.titulo2_torneos {
  color: #b4f03c;
  text-align: center;
  font-family: 'roboto';
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px; }

@media screen and (min-width: 500px) {
  .titulo_torneos {
    font-size: 80px;
    margin-bottom: 20px;
    padding-bottom: 20px; }
  .titulo1_torneos {
    font-size: 50px; }
  .titulo2_torneos {
    font-size: 40px;
    padding-bottom: 20px; } }

/*CONTACTO*/
.titulo_contacto {
  font-size: 40px; }

@media only screen and (min-width: 500px) {
  .titulo_contacto {
    font-size: 80px; } }

/*INDEX*/
.main_index {
  background-color: gray;
  background-image: url(../img/fondoindex1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

/*CONTACTO*/
.main_contacto {
  background-color: gray;
  background-image: url(../img/fondocontacto1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

/*TORNEOS*/
.main_torneos {
  background-color: #242222;
  background-image: url(../img/fondotorneos3.png);
  background-repeat: no-repeat;
  background-size: cover; }

/*SERVICIOS*/
.main_servicios {
  background-color: #ececec;
  background-image: url(../img/fondoserv.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

/*TORNEOS tabla de jugadores*/
.table {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0px; }
  .table .tabla_body {
    padding-bottom: 20px; }

/*INDEX: contenedor donde está el párrafo de presentación y las redes sociales*/
.introduccion {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.443);
  margin-left: 5%; }

.quienes_somos {
  margin-top: 20px;
  padding-bottom: 10px; }

.cont_tit_redes {
  height: 100px; }

.contenedor_redes_index {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 200px; }
  .contenedor_redes_index .bi_index {
    color: white;
    font-size: 60px;
    text-decoration: none;
    align-self: center; }

@media screen and (min-width: 500px) {
  .introduccion {
    width: 70%;
    margin-left: 15%; } }

/* SERVICIOS: contenedor de los párrafor para contactarse por las clases*/
.parrafos_clases {
  align-self: center;
  background-color: #ff6c37;
  color: #111111;
  text-align: center;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  animation-name: fondo_parrafos;
  animation-duration: 5s;
  animation-iteration-count: 2; }
  .parrafos_clases .p_clases {
    margin-bottom: 0px; }

.cont_alq {
  background-color: rgba(0, 0, 0, 0.5); }
  .cont_alq .cont_txt_alq {
    width: 60%; }

.cont_clases {
  background-color: rgba(131, 0, 131, 0.5); }
  .cont_clases .cont_txt_clases {
    width: 70%; }

.cont_escuelita {
  background-color: rgba(255, 255, 46, 0.5); }
  .cont_escuelita .cont_txt_escuelita {
    width: 60%; }

.cont_gimnasio {
  background-color: rgba(124, 124, 2, 0.5); }
  .cont_gimnasio .cont_txt_gim {
    width: 60%; }

@media screen and (min-width: 500px) {
  .txt_clases {
    padding-left: 20%; }
  .txt_gim {
    padding-left: 10%; } }

/*TORNEOS: contenedor con los flyer de los próximos torneos*/
.publi_torneos {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px; }

/* contenedor con los párrafos donde está el contacto para inscribirte*/
.inscribite_torneos {
  align-self: center; }
  .inscribite_torneos .parrafo_torneos {
    font-family: 'Bebas Neue';
    font-size: 20px;
    color: #b4f03c;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: center; }

/* media de los contenedores de torneos*/
@media screen and (min-width: 500px) {
  .inscribite_torneos {
    margin-bottom: 20px; }
    .inscribite_torneos .parrafo_torneos {
      font-size: 20px;
      letter-spacing: 3px;
      line-height: 25px; } }

/*CONTACTO: parte del contenedor donde está el teléfono, el mail y el mapa + @media*/
.div_contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .div_contacto .div_telefono {
    margin-top: 20px;
    font-family: 'Roboto';
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
    line-height: 20px; }
    .div_contacto .div_telefono .p_telefono {
      margin-bottom: 10px;
      color: black; }
    .div_contacto .div_telefono .maps_contacto {
      width: 80%;
      height: 50%;
      margin-top: 10px; }

@media screen and (min-width: 500px) {
  .div_contacto {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 100%;
    grid-template-areas: "c1 c2";
    justify-content: space-evenly; }
    .div_contacto .maps_contacto {
      width: 100%;
      padding-bottom: 10px; } }

/*Agrego extend a TITULOS PRINCIPALES: galería, contacto, servicios y torneos*/
.tit_principal, .titulo_galeria .titulo1_galeria, .titulo_servicios .titulo1_servicios, .titulo_torneos, .titulo1_torneos, .titulo_contacto {
  color: #111111;
  font-family: 'Bebas Neue', cursive;
  text-align: center; }

/* Extend incorporado a las listas del nav y el footer */
.links_navfoot, .nav-link, .footer .section_redes .lista_footer .link_foot {
  text-decoration: none;
  color: yellowgreen;
  font-family: 'Bebas Neue';
  font-weight: lighter; }

/* Extend incorporado al título principal del index*/
.tit_index, .titulo_index, .titulo_ind {
  color: #bcfc3d;
  font-family: "Bebas Neue", cursive;
  text-align: center; }

/* Extend incorporado a los contenedores y párrafos del main de servicios */
.cont_serv, .cont_alq, .cont_clases, .cont_escuelita, .cont_gimnasio {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 15%;
  padding-top: 20px;
  padding-bottom: 20px; }

.txt_serv, .cont_alq .cont_txt_alq .txt_alq, .cont_clases .cont_txt_clases .txt_clases, .cont_escuelita .cont_txt_escuelita .txt_escuelita, .cont_gimnasio .cont_txt_gim .txt_gim {
  font-family: "Cormorant SC", serif;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 25px; }

.img_servicios, .img_alq, .img_clases, .img_escuelita, .img_gim {
  width: 80%;
  height: 90%;
  border: 2px solid black; }

@media screen and (min-width: 500px) {
  .cont_serv, .cont_alq, .cont_clases, .cont_escuelita, .cont_gimnasio {
    flex-direction: row; }
  .txt_serv, .cont_alq .cont_txt_alq .txt_alq, .cont_clases .cont_txt_clases .txt_clases, .cont_escuelita .cont_txt_escuelita .txt_escuelita, .cont_gimnasio .cont_txt_gim .txt_gim {
    font-size: 40px; }
  .img_servicios, .img_alq, .img_clases, .img_escuelita, .img_gim {
    width: 60%;
    height: 70%; } }

/* MIXIN para los botones del index con las redes sociales*/
.bttn__ig {
  background-color: #ff0095;
  width: 100px;
  height: 100px;
  align-self: center; }

.bttn__tw {
  background-color: #4d4dff;
  width: 100px;
  height: 100px;
  align-self: center; }

.bttn__fb {
  background-color: #0f0fff;
  width: 100px;
  height: 100px;
  align-self: center; }

/* Mixin para los parrafos del index y la firma de LET*/
.color_parrafos {
  color: white;
  font-size: 20px;
  font-family: 'roboto';
  text-align: center;
  font-weight: lighter; }

.firma_let {
  color: white;
  font-size: 30px;
  font-family: 'roboto';
  text-align: center;
  font-weight: bold; }

@media screen and (min-width: 500px) {
  .color_parrafos {
    color: white;
    font-size: 25px;
    font-family: 'roboto';
    text-align: center;
    font-weight: light; }
  .firma_let {
    color: white;
    font-size: 40px;
    font-family: 'roboto';
    text-align: center;
    font-weight: bolder; } }

/* INDEX */
.logo_uno {
  padding-top: 30px; }

/* GALERÍA */
.fotos_club {
  margin-left: 0px;
  margin-right: 0px; }
  .fotos_club .foto_club1 {
    height: 95%;
    width: 100%; }
  .fotos_club .foto_club2 {
    height: 95%;
    width: 100%; }
  .fotos_club .foto_club3 {
    height: 95%;
    width: 100%; }
  .fotos_club .foto_club4 {
    height: 85%;
    width: 100%; }
  .fotos_club .foto_club5 {
    height: 85%;
    width: 100%; }
  .fotos_club .foto_club6 {
    height: 85%;
    width: 100%; }

.video_club {
  margin-top: 20px;
  height: 500px; }
  .video_club .videoclub1 {
    width: 100%;
    height: 100%; }

.foto_alumnos7 {
  height: 95%;
  width: 100%; }

.foto_alumnos8 {
  height: 95%;
  width: 100%; }

.foto_alumnos9 {
  height: 95%;
  width: 100%; }

.fotos_pet {
  padding-bottom: 10px; }
  .fotos_pet .foto_pet10 {
    height: 95%;
    width: 100%; }
  .fotos_pet .foto_pet11 {
    height: 95%;
    width: 100%; }
  .fotos_pet .foto_pet12 {
    height: 95%;
    width: 100%; }

.fotos_gal:hover {
  transform: scale(1.1, 1.1); }

/*SERVICIOS*/
.img_alq {
  margin-left: 10%; }

.img_clases {
  margin-left: 10%; }

.img_escuelita {
  margin-left: 10%; }

.img_gim {
  margin-left: 10%; }

@media screen and (min-width: 500px) {
  .img_alq {
    margin-left: 10%; }
  .img_clases {
    margin-left: 30%; }
  .img_gim {
    margin-left: 30%; } }

/* TORNEOS */
.foto_torneos1 {
  align-self: center; }
  .foto_torneos1 .foto_torneos1:hover {
    transform: rotateY(180deg);
    transition: 2s; }

.foto_torneos2 {
  align-self: center;
  margin-top: 20px; }

/*SERVICIOS*/
.animated__animated.animate__bounce {
  --animate-duration: 5s; }

@keyframes fondo_parrafos {
  0% {
    background-color: #dd4444; }
  25% {
    background-color: #ffb62e; }
  50% {
    background-color: #a7db3f; }
  75% {
    background-color: #64d360; }
  100% {
    background-color: #ff6c37; } }
