*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* HEADER*/

.navbar-brand{
    color: yellowgreen;
    font-size: 40px;
}

.nav-link{
    color: yellowgreen;
    font-size: 30px;
}

#navbarNav{
    justify-content: end;
}

/* FOOTER MOBILE*/

.footer{
    background-color: rgb(17, 17, 17);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items:center;
}

.section_redes{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items:center;
    padding-left: 0px;
}

.parrafo_footer{  
    color: yellowgreen;
    font-size: 15px;
    font-family: 'Bebas Neue';
}

.p_contacto{
    margin-bottom: 0px;
}

.lista_footer{
    width: 70%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 15px;
    text-align: center;
    padding-left: 0px;
}
 
a{
    text-decoration: none;
    color:yellowgreen;
    font-family: 'Bebas Neue';
    font-weight: lighter;
}

.section_contacto{
    width: 100%;
    display: flex;
    flex-direction: column;
    color:yellowgreen;
    font-family: 'Bebas Neue';
    font-weight: lighter;
    text-align: center;
}

@media screen and (min-width: 600px){

     /*FOOTER*/

    .footer{
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
    }

    .section_redes{
        width: 70%;
        flex-direction: row;
        justify-content: space-between;
    }

    .parrafo_footer{  
        font-size: 15px;
        margin-bottom: 0px;
        align-self: center;
    }

    .titulo_footer{
        padding-top: 1%;
        padding-left: 5%;
    }

    .lista_footer{
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
        font-size: 20px;
        margin-bottom: 0px;
        align-self: center;
    }

    li:hover{
        transform: scale(1.3,1.3);
    }

    .section_contacto{
        font-weight: lighter;
        text-align: right;
        padding-right: 1%;
    }
}

/* BODY Y MAIN INDEX */

/* MAIN INDEX */

    .main_index{
        background-color: gray;
        background-image: url("../img/fondoindex2.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
       
    .titulo_index{
        color:  rgb(188, 252, 61);
        font-family: 'Bebas Neue', cursive;
        font-size: 90px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .logo_uno{
        display: flex;
        justify-content: center;
    }
    
    .titulo2_index{
        color: rgb(188, 252, 61);
        font-size: 50px;
        font-family: 'The Nautigal', cursive;
        font-weight: bold;
        line-height: 2;
    }
    
    .color_parrafos{
        color: rgb(188, 252, 61);
        font-size: 20px;
        font-family: 'roboto';
        font-weight: light ;
    }
    
    .quienes_somos{
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 


/* BODY Y MAIN GALERÍA */

    .titulo1_galeria{
        color:  rgb(17, 17, 17);
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        font-size: 40px;
    }
        
    .titulo_galeria{
        background-image: url("../img/titulogaleria1.jpg");
        background-repeat: repeat;
        width: 100%;
    }
    
    .titulos_gal{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .titulo2_galeria{
        color: rgb(188, 252, 61);
        font-size: 30px;
        text-align: center;
        font-family: 'The Nautigal', cursive;
        font-weight: bold;
        background-color: brown;
    }

    .titulo1_galeria{
        font-size: 80px;
    }

    .titulo_galeria{
        height: 100px;
        width: 100%;
    }

    .titulos_gal{
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .titulo_el_club{
        padding-top: 20px;
        height: 100px;
        width: 100%;
    }

    .titulo2_galeria{
        font-size: 60px;
    }

    .fotos_club{
        margin-left: 0px;
        margin-right: 0px;
    }

    .foto_club1{
        height: 95%;
        width: 100%;
    }

    .foto_club2{
        height: 95%;
        width: 100%;
    }

    .foto_club3{
        height: 95%;
        width: 100%;
    }

    .foto_club4{
        height: 85%;
        width: 100%;
    }

    .foto_club5{
        height: 85%;
        width: 100%;
    }

    .foto_club6{
        height: 85%;
        width: 100%;
    }

    .video_club{
        margin-top: 20px;
    }

    .videoclub1{
        width: 100%;
        height: 80%;
    }

    .foto_alumnos7{
        height: 95%;
        width: 100%;
    }

    .foto_alumnos8{
        height: 95%;
        width: 100%;
    }

    .foto_alumnos9{
        height: 95%;
        width: 100%;
    }

    .fotos_pet{
        padding-bottom: 10px;
    }

    .foto_pet10{
        height: 95%;
        width: 100%;
    }

    .foto_pet11{
        height: 95%;
        width: 100%;
    }

    .foto_pet12{
        width: 100%;
        height: 95%;
    }

    .img_club1:hover{
        transform: scale(1.1,1.1);
    }
    
    .img_club2:hover{
        transform: scale(1.1,1.1);
    }
    
    .img_club3:hover{
        transform: scale(1.1,1.1);
    }
    
    .img_club4:hover{
        transform: scale(1.1,1.1);
    }
    
    .img_club5:hover{
        transform: scale(1.1,1.1);
    }
    
    .img_club6:hover{
        transform: scale(1.1,1.1);
    }
    
    .img_al7:hover{
        transform: scale(1.1,1.1);
    }
    
    .img_al8:hover{
        transform: scale(1.1,1.1);
    }
    
    .img_al9:hover{
        transform: scale(1.1,1.1);
    }
    
    .img_pet10:hover{
        transform: scale(1.1,1.1);
    }
    
    .img_pet11:hover{
        transform: scale(1.1,1.1);
    }
    
    .img_pet12:hover{
        transform: scale(1.1,1.1);
    }


/*BODY Y MAIN SERVICIOS*/

    .main_servicios{
        background-color: rgb(236, 236, 236);
        background-image: url(../img/fondoserv1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .titulo1_servicios{
        color:  rgb(17, 17, 17);
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        font-size: 80px;
        margin-bottom: 0px;
        padding-top: 10px;
    }

    .titulo_servicios{
        background-image: url(../img/tituloservicios.jpg);
        background-position: center;
    }

    .parrafos_clases{
        align-self: center;
        background-color: rgb(255, 108, 55);
        color: rgb(17, 17, 17);
        text-align: center;
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        animation-name: fondo_parrafos;
        animation-duration: 5s;
        animation-iteration-count: 2;
    }

    .p_clases{
        margin-bottom: 0px;
    }

    :root{
        --tipografia_p_card: 'Cormorant SC', serif;
        --tamano_txt_card: 20px;
        --grosor_txt_card: light;
    }
    
    .card-text{
        font-family: var(--tipografia_p_card);
        font-size: var(--tamano_txt_card);
        font-weight: var(--grosor_txt_card);
    }

    .card{
        margin-top: 20px;
        margin-bottom: 20px;
        align-self: center;
    }

    .bloque_card{
        justify-items: center;

    }

    .clases_indimg{
        height: 330px;
    }

    .animated__animated.animate__bounce{
        --animate-duration: 5s;
    }

    @keyframes fondo_parrafos{
        0%{
            background-color: rgb(221, 68, 68);
        }

        25%{
            background-color: rgb(255, 182, 46);
        }

        50%{
            background-color: rgb(167, 219, 63);
        }

        75%{
            background-color: rgb(100, 211, 96);
        }

        100%{
            background-color: rgb(255, 108, 55);
        }
    }

/* BODY Y MAIN TORNEOS */

 /* TORNEOS MOBILE*/

.main_torneos{
    background-color: rgb(36, 34, 34);
    background-image: url(../img/fondotorneos3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo_torneos{
    color:  rgb(17, 17, 17);
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    background-image: url(../img/titulotorneos.jpg);
    background-position: center;
    margin-bottom: 10px;
}

.titulo2_torneos{
    color: rgb(17, 17, 17);
    text-align: center;
    font-family: 'roboto';
    font-weight: bold; 
    padding-top: 20px;
    padding-bottom: 20px;
}
    
.publi_torneos{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

.foto_torneos1{
    width: 60%;
    align-self: center;
}

.foto_torneos2{
    width: 60%;
    align-self: center;
}
    
.parrafo_torneos{
    font-family: 'Bebas Neue';
    font-size: 20px;
    color: rgb(180, 240, 60);
    letter-spacing: 1px;
    line-height: 20px;
    text-align: center;
}
    
.inscribite_torneos{
    align-self: center;
}

.table{
    width: 100%;
    align-items: center;
    text-align: center;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}

.tabla_body{
    padding-bottom: 20px;
}

/* TORNEOS PC*/

@media screen and (min-width: 500px){

    .titulo_torneos{
        font-size: 80px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    
    .titulo2_torneos{
        font-size: 40px;
        padding-bottom: 20px;
    }
    
    .publi_torneos{
        flex-direction: row;
        justify-content: space-around;
    }

    .foto_torneos1{
        width: 33%;
    }
    .foto_torneos2{
        width: 30%;
    }
    
    .parrafo_torneos{
        font-size: 20px;
        letter-spacing: 3px;
        line-height: 25px;
    }
    
    .inscribite_torneos{
        margin-bottom: 20px;
    }
}

/* BODY Y MAIN CONTACTOS */

   /* CONTACTO MOBILE */


    .main_contacto{
        background-color: gray;
        background-image: url(../img/fondocontacto1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .titulo_contacto{
        font-family: 'Bebas Neuer';
        color: black;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        font-size: 40px;
        
    }

    .div_contacto{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .div_formulario{
        width: 60%;
        align-self: center;
    }

    .leg_contacto{
        font-family: 'The Nautigal', cursive;
        font-size: 30px;
    }

    .fil_contacto{
        display: flex;
        flex-direction: column;
        font-family: 'Roboto';
        font-weight: bold;
        text-align: center;
    }

    .cont_seldni{
        width: 90%;
        align-self: center;
    }

    .in_form{
        font-family: 'Roboto';
        align-self: center;
    }
    
    .boton_form{
        width: 60%;
        font-family: 'Roboto';
        font-size: 10px;
        font-weight: light;
        margin-top: 7px;
        margin-bottom: 7px;
        align-self: center;
    }

    .boton_formf{
        align-self: center;
    }

    .div_telefono{
        margin-top: 20px;
        font-family: 'Roboto';
        font-weight: bolder;
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        
    }

    .p_telefono{
        margin-bottom: 10px;
        color: black;
    }

    .maps_contacto{
        width: 80%;
        height: 50%;
        margin-top: 10px;
    }

   /* CONTACTO PC*/

@media only screen and (min-width: 600px){
    .main_contacto{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .titulo_contacto{
        font-size: 80px;
    }
    
    .div_contacto{
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 100%;
        grid-template-areas: "c1 c2";
        justify-content: space-evenly;
    }
    
    .div_formulario{
        grid-area: c1;
        padding-bottom: 20px;
    }
    
    .leg_contacto{
        font-size: 50px;
    }
    
    .fil_contacto{
        width: 100%;
        border-width: 10px;
    }
    
    .cont_label{
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .cont_seldni{
        width: 100%;
    }
    
    .in_form{
        width: 100%;
    }

    .boton_form:hover{
        transform: scale(1.1,1.1);
    }
    
    .boton_formf:hover{
        transform: scale(1,1);
    }
    
    .check_label{
        padding-top: 7px;
        padding-bottom: 7px;
    }
    
    .in_checkbox{
        margin-bottom: 10px;
    }
    
    .div_telefono{
        grid-area: c2;
    }
    
    .maps_contacto{
        width: 100%;
        padding-bottom: 10px;
    }
}
