/*SERVICIOS*/
.animated__animated.animate__bounce{
    --animate-duration: 5s;
}
@keyframes fondo_parrafos{
    0%{
        background-color: rgb(221, 68, 68);
    }
    25%{
        background-color: rgb(255, 182, 46);
    }
    50%{
        background-color: rgb(167, 219, 63);
    }
    75%{
        background-color: rgb(100, 211, 96);
    }
    100%{
        background-color: rgb(255, 108, 55);
    }
}