/*INDEX*/ 

.quienes_somos{
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 


/*CONTACTO*/

.div_contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media screen and (min-width: 600px){
    .div_contacto{
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 100%;
        grid-template-areas: "c1 c2";
        justify-content: space-evenly;
    }
}