/*INDEX: contenedor donde está el párrafo de presentación y las redes sociales*/ 
.introduccion{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.443);
    margin-left: 5%;
}
.quienes_somos{
    margin-top: 20px;
    padding-bottom: 10px;
}
.cont_tit_redes{
    height: 100px;
}
.contenedor_redes_index{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    .bi_index{
        color: white;
        font-size: 60px;
        text-decoration: none;
        align-self: center;
    }
}
@media screen and (min-width: 500px){
    .introduccion{
        width: 70%;
        margin-left: 15%;
    }
}

/* SERVICIOS: contenedor de los párrafor para contactarse por las clases*/
.parrafos_clases{
    align-self: center;
    background-color: rgb(255, 108, 55);
    color: rgb(17, 17, 17);
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    animation-name: fondo_parrafos;
    animation-duration: 5s;
    animation-iteration-count: 2;
    .p_clases{
        margin-bottom: 0px;
    }    
}
.cont_alq{
    @extend .cont_serv;
    background-color: rgba(0, 0, 0, 0.500);
    .cont_txt_alq{
        width: 60%;
        .txt_alq{
            @extend .txt_serv;
        }
    }
}
.cont_clases{
    @extend .cont_serv;
    background-color: rgba(131, 0, 131, 0.500);
    .cont_txt_clases{
        width: 70%;
        .txt_clases{
            @extend .txt_serv;
        }
    }
}
.cont_escuelita{
    @extend .cont_serv;
    background-color: rgba(255, 255, 46, 0.500);
    .cont_txt_escuelita{
        width: 60%;
        .txt_escuelita{
            @extend .txt_serv;
        }
    }
}
.cont_gimnasio{
    @extend .cont_serv;
    background-color: rgba(124, 124, 2, 0.500);
    .cont_txt_gim{
        width: 60%;
        .txt_gim{
            @extend .txt_serv;
        }
    }
}
@media screen and (min-width: 500px){
    .txt_clases{
        padding-left: 20%;
    }
    .txt_gim{
        padding-left: 10%;
    }
}

/*TORNEOS: contenedor con los flyer de los próximos torneos*/
.publi_torneos{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* contenedor con los párrafos donde está el contacto para inscribirte*/ 
.inscribite_torneos{
    align-self: center;
    .parrafo_torneos{
        font-family: 'Bebas Neue';
        font-size: 20px;
        color: rgb(180, 240, 60);
        letter-spacing: 1px;
        line-height: 20px;
        text-align: center;
    }
}
/* media de los contenedores de torneos*/
@media screen and (min-width: 500px){
    .inscribite_torneos{
        margin-bottom: 20px;
        .parrafo_torneos{
            font-size: 20px;
            letter-spacing: 3px;
            line-height: 25px;
        }
    }
}

/*CONTACTO: parte del contenedor donde está el teléfono, el mail y el mapa + @media*/
.div_contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .div_telefono{
        margin-top: 20px;
        font-family: 'Roboto';
        font-weight: bolder;
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        .p_telefono{
            margin-bottom: 10px;
            color: black;
        }
        .maps_contacto{
            width: 80%;
            height: 50%;
            margin-top: 10px;
        }
    }
}
@media screen and (min-width: 500px){
    .div_contacto{
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 100%;
        grid-template-areas: "c1 c2";
        justify-content: space-evenly;
        .div_telefono{
            padding-top: 50px;
        }
        .maps_contacto{
            width: 100%;
        }
    }
}