/*Agrego extend a TITULOS PRINCIPALES: galería, contacto, servicios y torneos*/ 
.tit_principal{
    color: rgb(17, 17, 17);
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

/* Extend incorporado a las listas del nav y el footer */
.links_navfoot{
    text-decoration: none;
    color:yellowgreen;
    font-family: 'Bebas Neue';
    font-weight: lighter;
}

/* Extend incorporado al título principal del index*/
.tit_index{
    color:rgb(188, 252, 61);
    font-family: $tipografia_titulo_principal;
    text-align: center;
}

/* Extend incorporado a los contenedores y párrafos del main de servicios */ 
.cont_serv{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.txt_serv{
    font-family: $tipografia_p_card;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}
.img_servicios{
    width: 80%;
    height: 90%;
    border: 2px solid black;
}
@media screen and (min-width: 500px){
    .cont_serv{
        flex-direction: row;
    }
    .txt_serv{
        font-size: 40px;
    }
    .img_servicios{
        width: 60%;
        height: 70%;
    }
}