/* INDEX */   
.logo_uno{
    padding-top: 30px;
}

/* GALERÍA */
.fotos_club{
    margin-left: 0px;
    margin-right: 0px;
    .foto_club1{
        height: 95%;
        width: 100%;
    }
    .foto_club2{
        height: 95%;
        width: 100%;
    }
    .foto_club3{
        height: 95%;
        width: 100%;
    }
    .foto_club4{
        height: 85%;
        width: 100%;
    }
    .foto_club5{
        height: 85%;
        width: 100%;
    }
    .foto_club6{
        height: 85%;
        width: 100%;
    }
}
.video_club{
    margin-top: 20px;
    height: 500px;
    .videoclub1{
        width: 100%;
        height: 100%;
    }
}
.foto_alumnos7{
    height: 95%;
    width: 100%;
}
.foto_alumnos8{
    height: 95%;
    width: 100%;
}
.foto_alumnos9{
    height: 95%;
    width: 100%;
}
.fotos_pet{
    padding-bottom: 10px;
    .foto_pet10{
        height: 95%;
        width: 100%;
    }
    .foto_pet11{
        height: 95%;
        width: 100%;
    }
    .foto_pet12{
        height: 95%;
        width: 100%;
    }
}
.fotos_gal:hover{
    transform: scale(1.1,1.1); 
}

/*SERVICIOS*/
.img_alq{
    @extend .img_servicios;
    margin-left: 10%;
}
.img_clases{
    @extend .img_servicios;
    margin-left: 10%;
}
.img_escuelita{
    @extend .img_servicios;
    margin-left: 10%;
}
.img_gim{
    @extend .img_servicios;
    margin-left: 10%;
}
@media screen and (min-width: 500px){
    .img_alq{
        margin-left: 10%;
    }
    .img_clases{
        margin-left: 30%;
    }
    .img_gim{
        margin-left: 30%;
    }
}

/* TORNEOS */
.foto_torneos1{
    align-self: center;
}
.foto_torneos2{
    align-self: center;
    margin-top: 20px;
}
@media screen and (max-width: 500px){
    .img_torneos{
        width: 80%;
    }
}
@media screen and (min-width: 500px){
    .img_torneos:hover{
        transform: rotateY(360deg);
        transition: 5s;
    }
}