/*INDEX*/ 

.main_index{
    background-color: gray;
    background-image: url(../img/fondoindex3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*CONTACTO*/

.main_contacto{
    background-color: gray;
    background-image: url(../img/fondocontacto1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*TORNEOS*/

.main_torneos{
    background-color: rgb(36, 34, 34);
    background-image: url(../img/fondotorneos3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*SERVICIOS*/

.main_servicios{
    background-color: rgb(236, 236, 236);
    background-image: url(../img/fondoserv.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

