.navbar-brand{
    color: yellowgreen;
    font-size: 40px;
}

.item_nav:hover{
    transform: scale(1.2,1.1);
}

.nav-link{
    @extend .links_navfoot;
    font-size: 30px;
}

#navbarNav{
    justify-content: end;
}