.navbar-brand{
    color: yellowgreen;
    font-size: 40px;
    font-family: $tipografia_titulo_principal;
}
#navbarNav{
    justify-content: end;
}
.nav-link{
    @extend .links_navfoot;
    font-size: 25px;
}
@media screen and(min-width:500px){
    .item_nav:hover{
        transform: scale(1.2,1.1);
    }
    .navbar-brand{
        padding-left: 10%;
        font-size: 60px;
    }
    .navbar-collapse{
        padding-right: 10%;
    }
    .nav-link{
        font-size: 40px;
    }
}
    
