.navbar-brand{
    color: yellowgreen;
    font-size: 40px;
    font-family: $tipografia_titulo_principal;
}
#navbarNav{
    justify-content: end;
}
.item_nav:hover{
    transform: scale(1.2,1.1);
}
.nav-link{
    @extend .links_navfoot;
    font-size: 30px;
}