/*INDEX*/

.titulo_index{
    color:  rgb(188, 252, 61);
    font-family: $tipografia_titulo_principal;
    font-size: 90px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.titulo2_index{
    color: rgb(188, 252, 61);
    font-size: 50px;
    font-family: 'The Nautigal', cursive;
    font-weight: bold;
    line-height: 2;
}
.titulo_redes{
    color: black;
    background-color: rgb(188, 252, 61);
    font-family: $tipografia_titulo_principal;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 0px;
}

/*GALERIA*/

.titulo_galeria{
    background-image: url(../img/titulogaleria1.png);
    background-repeat: repeat;
    width: 100%;
    height: 100px;
    .titulo1_galeria{
        @extend .tit_principal;
        font-size: 80px;
    }
}
.titulos_gal{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    .titulo2_galeria{
        color: rgb(188, 252, 61);
        font-size: 60px;
        text-align: center;
        font-family: 'The Nautigal', cursive;
        font-weight: bold;
        background-color: brown;
    }
}

/*SERVICIOS*/

.titulo_servicios{
    background-image: url(../img/tituloservicios1.png);
    background-repeat:repeat;
    .titulo1_servicios{
        @extend .tit_principal;
        font-size: 80px;
        margin-bottom: 0px;
        padding-top: 10px;
    }
}

/*TORNEOS*/ 

.titulo_torneos{
    @extend .tit_principal;
    font-size: 40px;
    background-image: url(../img/titulotorneos.png);
    background-position: center;
    margin-bottom: 10px;
}
.titulo1_torneos{
    @extend .tit_principal;
    font-size: 30px;
}
.titulo2_torneos{
    color: rgb(180, 240, 60);
    text-align: center;
    font-family: 'roboto';
    font-weight: bold; 
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (min-width: 600px){
    .titulo_torneos{
        font-size: 80px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .titulo1_torneos{
        font-size: 50px;
    }
    .titulo2_torneos{
        font-size: 40px;
        padding-bottom: 20px;
    }
}

/*CONTACTO*/ 

.titulo_contacto{
    @extend .tit_principal;
    font-size: 40px;
}

@media only screen and (min-width: 600px){ 
    .titulo_contacto{
        font-size: 80px;
    }
}