/*INDEX*/

.titulo_index{
    color:  rgb(188, 252, 61);
    font-family: 'Bebas Neue', cursive;
    font-size: 90px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.titulo2_index{
    color: rgb(188, 252, 61);
    font-size: 50px;
    font-family: 'The Nautigal', cursive;
    font-weight: bold;
    line-height: 2;
}

/*CONTACTO*/ 

.titulo_contacto{
    font-family: 'Bebas Neuer';
    color: $color_titulo_principal;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

/*TORNEOS*/ 

.titulo_torneos{
    color:  rgb(17, 17, 17);
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    background-image: url(../img/titulotorneos.jpg);
    background-position: center;
    margin-bottom: 10px;
}

.titulo2_torneos{
    color: rgb(17, 17, 17);
    text-align: center;
    font-family: 'roboto';
    font-weight: bold; 
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (min-width: 600px){
    .titulo_torneos{
        font-size: 80px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    
    .titulo2_torneos{
        font-size: 40px;
        padding-bottom: 20px;
    }
}