@import "variables";
@import "generales";
@import "nav";
@import "footer";
@import "formulario.scss";
@import "titulos";
@import "main";
@import "contenedores_grales";
@import "extend";


/* INDEX */
    
    .logo_uno{
        display: flex;
        justify-content: center;
    }
    

/* GALERÍA */

    .fotos_club{
        margin-left: 0px;
        margin-right: 0px;
    }

    .foto_club1{
        height: 95%;
        width: 100%;
    }

    .foto_club2{
        height: 95%;
        width: 100%;
    }

    .foto_club3{
        height: 95%;
        width: 100%;
    }

    .foto_club4{
        height: 85%;
        width: 100%;
    }

    .foto_club5{
        height: 85%;
        width: 100%;
    }

    .foto_club6{
        height: 85%;
        width: 100%;
    }

    .video_club{
        margin-top: 20px;
    }

    .videoclub1{
        width: 100%;
        height: 80%;
    }

    .foto_alumnos7{
        height: 95%;
        width: 100%;
    }

    .foto_alumnos8{
        height: 95%;
        width: 100%;
    }

    .foto_alumnos9{
        height: 95%;
        width: 100%;
    }

    .fotos_pet{
        padding-bottom: 10px;
    }

    .foto_pet10{
        height: 95%;
        width: 100%;
    }

    .foto_pet11{
        height: 95%;
        width: 100%;
    }

    .foto_pet12{
        width: 100%;
        height: 95%;
    }

    .fotos_gal:hover{
        transform: scale(1.1,1.1); 
    }

    
/*SERVICIOS*/

    .animated__animated.animate__bounce{
        --animate-duration: 5s;
    }

    @keyframes fondo_parrafos{
        0%{
            background-color: rgb(221, 68, 68);
        }

        25%{
            background-color: rgb(255, 182, 46);
        }

        50%{
            background-color: rgb(167, 219, 63);
        }

        75%{
            background-color: rgb(100, 211, 96);
        }

        100%{
            background-color: rgb(255, 108, 55);
        }
    }

/* TORNEOS */

.foto_torneos1{
    width: 60%;
    align-self: center;
}
.foto_torneos2{
    width: 60%;
    align-self: center;
}

@media screen and (min-width: 500px){
    .foto_torneos1{
        width: 33%;
    }
    .foto_torneos2{
        width: 30%;
    }
}

